$screen-sm-min: 768px;
@mixin sm {
    @media (max-width: #{$screen-sm-min}) {
        @content;
    }
}
@mixin md {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
}
@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
}
$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 24px;
@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size, $scale:1.0) {
    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min-font-size);
    $u4: unit($max-font-size);
    @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
        & {
            font-size: $min-font-size;
            @media screen and (min-width: $min-vw) {
                font-size: calc((#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})) * #{$scale});
            }
            @media screen and (min-width: $max-vw) {
                font-size: $max-font-size;
            }
        }
    }
}
@font-face {
    font-family: phage;
    src: url("../fonts/phage_regular.otf");
}

.frame:nth-child(1) .subframe {
    width: 50%;
    @include sm {
        width: auto;
    }
}

#logo {
    height: 50vmin;
    // position: absolute;
    top: 0;
    left: 0;
    // transform: translate(10%,-50%);
    @include sm {
        //display: none;
    }
}

.globeParent {
    position: absolute;
    top: 0;
    left: 0;
    // transform: translate(10%,-50%);
    width: 50vmin;
    height: auto;
}

.globe {
    width: 100%;
    height: 100%;
    transform-origin: center center;
}

.title {
    font-size: 9vmax;
    font-family: calculator;
    text-align: center;
}

.frame-title {
    @include fluid-type($min_width, $max_width, $min_font, $max_font, 4);
    text-align: center;
    font-family: calculator;
}

.subtitle {
    margin-top: 5%;
    font-size: 2vmax;
    letter-spacing: 0.5px;
    text-align: justify;
    font-family: "Andale Mono", "Consolas", "Courier New", monospace;
    text-align: center;
}

.frame-subtitle {
    margin: 5% 2%;
    @include fluid-type($min_width, $max_width, $min_font, $max_font, 1);
    @include sm {
        letter-spacing: unset;
    }
    letter-spacing: 0.5px;
    text-align: justify;
    font-family: "Andale Mono", "Consolas", "Courier New", monospace;
}

.frame-largetext {
    //font-size: 2vmax;
    @include sm {
        //font-size: 3.3vmax;
        letter-spacing: unset;
    }
    letter-spacing: 0.5px;
    text-align: justify;
    font-family: "Andale Mono", "Consolas", "Courier New", monospace;
}

#logosection {
    position: relative;
    @include sm {
        margin: 2%;
    }
}

#logosection * {}

#main_description {
    font-size: 1.6vmax;
    font-family: Tahoma;
    margin: 5%;
}

.frame {
    width: 100%;
    height: auto;
}

.frame > * {
    margin-left: 2%;
    margin-right: 2%;
}

.frame:nth-child(4) {
    background-image: url("/img/frame_2.jpg");
}

.flex {
    display: flex;
    @include sm {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    justify-content: center;
    align-items: center;
    align-content: center;
}

.full {
    height: 100vh;
}

.subframe {
    display: inline-block;
}

.content_frame {
    width: auto;
    height: 100%;
    margin: 2% 10%;
    @include sm {
        margin: 2% 1%;
    }
    // background-color: rgba(0,0,0,0.5);
}

.house_frame {
    @include md {
        display: block;
    }
    @include sm {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
        column-count: unset;
    }
}

.house_logo_frame {
    @include md {
        display: inline-block;
        width: 45%;
    }
    @include sm {
        order: 2;
    }
}

.house_logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    @include md {
        height: 50vh;
        max-width: 35vw;
    }
    @include sm {
        height: 50vh;
        width: auto;
    }
}

.house_logo_lore {
    letter-spacing: 0.5px;
    text-align: center;
    font-family: "Andale Mono", "Consolas", "Courier New", monospace;
    font-size: 1.5em;
    margin: 5% 1%;
    @include sm {
        font-size: 1em;
    }
}

.house_name_frame {
    @include md {
        display: flex;
        width: 100%;
        clear: both;
        justify-content: space-around;
        align-items: center;
    }
    @include sm {
        order: 1;
    }
}

.house_names {
    font-family: phage;
    font-size: 6em;
    text-align: center;
    @include md {
        display: inline;
    }
}

.house_nicknames {
    font-family: phage;
    font-size: 2.5em;
    text-align: center;
    @include md {
        display: inline;
    }
}

.house_lore {
    flex: 1 0 35%;
    letter-spacing: 0.5px;
    text-align: justify;
    font-family: "Andale Mono", "Consolas", "Courier New", monospace;
    //font-size: 1.5em;
    @include fluid-type($min_width, $max_width, $min_font, $max_font);
    margin: 2% 1%;
    @include md {
        order: 3;
        max-width: 50%;
        float: right;
        display: inline-block;
    }
    @include sm {
        order: 3;
        margin: 5% 1%;
    }
}

.backgrounds {
    position: fixed;
    z-index: -9001;
    top: 0;
    left: 0;
}

.backgrounds img {
    position: absolute;
    overflow-x: hidden;
    z-index: -9001;
    min-width: 100vmax;
    top: 0;
    left: 0;
}

.contact-info {
    @include md {
        width: 50%;
        display: inline-block;
    }
    @include sm {
        width: 100%;
    }
    letter-spacing: 0.5px;
    justify-content: center;
    text-align: left !important;
    font-family: "Andale Mono", "Consolas", "Courier New", monospace;
    @include fluid-type($min_width, $max_width, $min_font, $max_font, 1.2);
    font-size: 1.0em;
    margin: 5% 1%;
}

#maps {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

#maps iframe {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

body {
    margin: 0;
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

content {
    width: 100%;
    height: auto;
    overflow-y: auto;
}